body{
  background: #D8EFD3;
  }
  .container-main {
    /* height: 500px;
    width: 350px; */
    margin-top: 125px;
    padding: 2px;
    background-color: aliceblue;
  }
  
  
  
  @media only screen and (min-width: 577px) and (max-width: 768px){
    .container-main{
      width: 70% !important;
    }
  }
  
  
  @media only screen and (min-width: 769px){
    .container-main{
      width: 57% !important;
    }
  }